{% extends 'base.html' %}

{% block title %} Login Page {% endblock %}

{% block body %}
    <div class="typicalpage">
        <h2 class="typicalpage">this is the signup page!</h2>
        <form action="{{ url_for('public_view.signup') }}" method="POST" enctype="multipart/form-data" novalidate>
            {{ form.csrf_token}}
            
            {{ form.name(class="input_box", placeholder="name",) }}
            {% for error in form.name.errors  %} <ul><li class="list_error">{{ error }}</li></ul> {% endfor %}

            {{ form.surname(class="input_box", placeholder="surname") }}
            {% for error in form.surname.errors  %} <ul><li class="list_error">{{ error }}</li></ul> {% endfor %}

            {{ form.email(class="input_box", placeholder="email") }}
            {% for error in form.email.errors  %} <ul><li class="list_error">{{ error }}</li></ul> {% endfor %}

            {{ form.password(class="input_box", placeholder="password") }}
            {% for error in form.password.errors  %} <ul><li class="list_error">{{ error }}</li></ul> {% endfor %}

            <span class="input_file">
                <!-- <input type="file" name="filefile"  > -->
                {{ form.image() }}
            </span>
            <input type="submit" class="sub_btn">
        </form>
    </div>
    {% include 'include.html' %}
{% endblock %}