{% extends 'base.html' %}

{% block title %} Login Page {% endblock %}

{% block body %}
    <div class="typicalpage">
        <h2 class="typicalpage">this is the signup page!</h2>

        <ul class="list_error">
            
            {% for error in form.name.errors  %} <li class="list_error">{{ error }}</li> {% endfor %}

            {% for error in form.surname.errors  %} <li class="list_error">{{ error }}</li> {% endfor %}

            {% for error in form.email.errors  %} <li class="list_error">{{ error }}</li> {% endfor %}

            {% for error in form.password.errors  %}<li class="list_error">{{ error }}</li>{% endfor %}

            {% with messages = get_flashed_messages() %}
            <ul>
                {% for message in messages %}
                <li class="list_error">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endwith %}

            {% for error in form.image.errors  %}<li class="list_error">{{ error }}</li>{% endfor %}

        </ul>
        <br>

        <form action="{{ url_for('public_view.signup') }}" method="POST" enctype="multipart/form-data" novalidate>
            {{ form.csrf_token}}
            
            {{ form.name(class="input_box", placeholder="name",) }}

            {{ form.surname(class="input_box", placeholder="surname") }}
                        
            {{ form.email(class="input_box", placeholder="email") }}
            
            
            {{ form.password(class="input_box", placeholder="password") }}

            <span class="input_file">
                <!-- <input type="file" name="filefile"  > -->
                {{ form.image() }}
            </span>
            <input type="submit" class="sub_btn">
        </form>
    </div>
    {% include 'include.html' %}
{% endblock %}