{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block body %} 

<div class="index">
    <h2 class="index">this is the index page!</h2>

    <div class="profiles_container">

        {% if profiles %}
        {% for profile in profiles%}
        <div class="profile">
            <div class="contIMG">
                <img class="timelineIMG" src="{{ url_for('static', filename=profile.image) }}" alt="imae not found">
            </div>
            <h6 class="timelineH6">{{ profile.name }} {{ profile.surname }}</h6>
            <h6 class="timelineH6">{{ profile.email}}</h6>
        </div>
        {% endfor %}
        {% endif %}

    </div>
 
</div>


{% include 'include.html' %}
{% endblock %}

