[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-uploads = "*"
flask-cors = "*"
werkzeug = "==0.16.0"

[requires]
python_version = "3.7"
